<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="bootstrap.min.css">
    
    <title>Bot Face</title>
</head>
<body>

    <div class="container">
    
        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-6">
                <h1>Bot web face</h1>
                <p class="lead">Добро пожаловать в интерфейс настройки бота!</p>
                <p>Этот бот пока не имеет никаких настроек и просто показывает, сколько раз на него зашли.</p>
                <p>Вам доступно две страницы:</p>
                <p>
                    <ul>
                        <li><b>/</b> (Посещено {{indexCount}} раз)</li>
                        <li><b><a href="/webhook/">/webhook/</a></b> (Посещено {{webhookCount}} раз)</li>
                    </ul>
                </p>
                <p>Вызов вебхука ставит ордер и возвращает список всех ордеров с BitMEX</p>
                <br/>
                <p>Для вебморды надо или изучить что-то типа Angular.js или найти толкового фронтовика.</p>
            </div>
        </div>
        
    </div>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>